/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-weight);
  background-color: var(--background-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--color);
  font-size: 18px;
  padding-block-start: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: var(--main-weight);
  margin: 0 auto 100px;
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
}

.common_width {
  inline-size: clamp(375px,16.2852rem + 30.5164vw,700px);
}

.title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  font-weight: inherit;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.subtitle {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  font-weight: inherit;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
}

.content_card-title {
  font-size: 18px;
  font-variation-settings: "wght" var(--header-weight);
  padding: 6px 24px 4px 10px;
}

.content_card-cover {
  position: relative;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.content_card-cover-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.content_card-cover-watermark {
  position: absolute;
  top: 24px;
  right: 25px;
  opacity: 0.5;
  color: inherit;
  font-family: var(--accent-font), fantasy;
  font-weight: var(--main-font);
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  mix-blend-mode: hard-light;
  text-shadow: 1px 0 var(--shadow-color),
  1px 0 var(--shadow-color),
  0 1px var(--shadow-color),
  0 1px var(--shadow-color),
  -1px 0 var(--shadow-color),
  -1px 0 var(--shadow-color),
  0 -1px var(--shadow-color),
  0 -1px var(--shadow-color);
  text-transform: uppercase;
}

@supports (-webkit-text-stroke: 1px var(--shadow-color)) {
  .content_card-cover-watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--shadow-color);
  }
}
  
.content_card-text {
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  color: inherit;
  font-weight: var(--main-weight);
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0%;
}

.content_card-buttons {
  display: flex;
  gap: 7px;
  align-self: flex-end;
  margin: 0 25px 25px 0;
  max-block-size: 38px;
}

.like-icon:focus {
  border: none;
  outline: none;
}

.like-icon:focus-visible {
  border: none;
  outline: none;
}

.card__icon-button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  block-size: 38px;
  border: 2px solid var(--border-color);
  outline: none;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  border: 2px solid var(--border-color);
  background-color: transparent;
}

.button {
  position: relative;
  /*display: flex;*/
  display: grid;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  font-size: 14px;
  font-family: var(--accent-font), fantasy;
}

.content_card-button {
  margin: auto;
  padding: 14px 18px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
  margin-block-end: clamp(100px, 6.309rem + .2817vw, 103px);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--border-color);
}

.button::before {
  content:"";
  position: absolute;
  background-color: var(--border-color);
  inset: 0;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: 0px center;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--shadow-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-weight: var(--main-font);
  line-height: 90%;
  letter-spacing: 0%;
  mix-blend-mode: difference;
}

.content_card-button-icon {
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
  color: var(--shadow-color)
}

.filter_brightness {
  filter: brightness(40%);
}

.filter_contrast {
  filter: contrast(80%);
}

.filter-saturate {
  filter: saturate(4);
}

.filter_blur {
  filter: blur(5px);
}

.filter_opacity {
  filter: opacity(75%);
}

.filter_grayscale {
  filter: grayscale(35%);
}

.filter_mixed {
  filter: invert(15%) blur(1px) saturate(50%);
}

.filter_invert {
  filter: invert(45%);
}

.saving-spot-container {
  border: 2px solid var(--border-color);
  padding: 30px;
  color: inherit;
  font-family: var(--accent-font), fantasy;
  line-height: 150%;
  letter-spacing: 0%;
  font-weight: var(--main-font);
  font-size: 14px;
  inline-size: clamp(341px, 100vw, 353px);
  text-transform: uppercase;
  margin: auto;
}

.button_uppercase {
  text-transform: uppercase;
}

.saving-spot-container[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 26px;
}

.saving-spot-content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.saving-spot-icon {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}

.saving-buttom {
  inline-size: 100%;
  block-size: 38px;
}

.saving-spot-container::backdrop {
  opacity: 0.75;
  background: var(--color);
}

@media (width <= 376px) {
  .header {
    inline-size: 100%;
  }

  .content {
    inline-size: 100%;
  }

  .content_card-button {
    grid-template-columns: auto;
    justify-items: center;
  }

  .content_card-button-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .content_card-cover-watermark {
    top: 21px;
    right: 11px;
  }
}